* {
    box-sizing: border-box;
}

#portfolio-container {
    margin-top: 
}

.portfolio-image {
    float: left;
    margin: 30px;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  width: 280px;
  margin-right: 60px;
}

.text {
    position: absolute;
    z-index: 999;
    background: #4aaaa5;
    left: 30px;
    top: 150px;
    padding: 20px;
    font-size: 24px;
    width: 100%;
    font-family: Georgia, Times, "Times New Roman", serif;
}